html,
body {
	width:100%;
	height:100%;
	font-family: Arial;
	margin: 0;
/* 	background: #fdf5b9; */
	/*
background-image:url('../images/blackorchid.png');
	background-repeat:repeat;
*/
}

body#boy{
	background: #1f6d9e;
}

body#girl{
	background: #db5583;
}

body#admin{
	background: #b4a6a6;
}

img#logo{
	width: 250px;
	margin: 20px 0 0 410px;

}
/* the entire space for chat*/
#chat {
	width:100%;
	height:80%;
	margin: 0;
} 
/* just the the window displaying the chats*/


/*#boxBoy img {
	/* width: 426px; 
	/* background: #66CCCC; 
}

#boxGirl img{
	 width: 426px; 	
}
*/

/*
#boxAdmin {
	width: 426px;
	height:621px;
}
*/

/* where messages appear */
div.chatBox{
	height: 540px;
	width: 540px;
	top: 146px;
	position: absolute;
	margin-left: 266px;
	overflow: scroll; 
}





/*input text box for all*/
input.chatInput{
	border-style: none;
	font-size: 20px;
	height: 40px;
	width: 510px;
	z-index: 2;
	position: absolute;
	top:714px;
	left: 281px;
	background: none;
	outline: none; 
}

input#chatInputBoy{
	font-family: monospace;
}

input#chatInputGirl{
	font-family: georgia;
}

input#chatInputAdmin{
	font-family: georgia;
}


/* "Background" images for boy and girl chat box and input */
.chatBackgroundImage{
	height: 600px;
	width: 583px;
	margin-left: 240px;
}

.chatInputBackgroundImage{
	height: 80px;
	width: 583px;
	margin-left: 240px;	
}






/* icon of person who the message is from */
.chatImage{
	width: 7%;
}

/* appearence of the box that the message appears in */
p.is-boy, p.is-girl, p.is-admin, p.rejected-message{
	padding:5px;
	height: 70px;
	width: 90%;
	margin-left: 4%;
}

p.is-boy{
	background:#66CCCC;
}

p.is-girl{
	background:#FF3366;
}

p.is-admin{
	background:#c0cd00;
}

p.rejected-message{
	background:#ff1404;
}






/* ALL THIS IS FOR THE ADMIN PAGE WITH THE FORWARD/REJECT BUTTONS */
img#reject, img#forward{
	cursor: pointer;
	padding: 5px;
	width: 20px;
	margin-top: 4px;
}

p.outer{
	height: 70px;
}

p.inner{
	width: 70%;
	float: left;
	margin: 0px;
}

p.message{
	display: inline;
	float: left;
	margin-left: 10px;
}

img.is-boy{
	display: inline;
	float: left;
}

img#reject{
	display: inline;
	float: left;
}

img#forward{
	display: inline;
	float: right;
}

/* ****************** */


/*

#boyStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#girlStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#adminStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}
*/
