html,
body {
	width:100%;
	height:100%;
	font-family: Arial;
	background: #333333;
	zoom: reset;
	/* background-image:url('texture.jepg'); */
}

#reject{
	color: pink;
	background-color: black;	
}

#chat {
	width:100%;
	height:80%;
} 

#boxBoy {
	display: block;
	width:45%;
	height:75%;
	background: #66CCCC;
	cursor: text;
	overflow: scroll;
	margin: 20px auto;
	padding:10px;
	box-shadow: 4px 4px 5px #161616;
}

#chatboxBoy {
	width:45.5%;
	border:1px solid black;	
	font-size:18px;
	font-family: monospace;
	padding:5px;
	box-shadow: 4px 4px 5px #161616;
}
#boxGirl {
	display: block;
	width:45%;
	height:75%;
	background: #FF3366;
	cursor: text;
	overflow: scroll;
	margin: 20px auto;
	padding:10px;
	box-shadow: 4px 4px 5px #161616;
}

#chatboxGirl{
	width:45.5%;
	border:1px solid black;	
	font-size:18px;
	font-family: georgia;
	padding:5px;
	box-shadow: 4px 4px 5px #161616;
}

#boxAdmin {
	display: block;
	width:45%;
	height:75%;
	background: #c0cd00;
	cursor: text;
	overflow: scroll;
	margin: 20px auto;
	padding:10px;
	box-shadow: 4px 4px 5px #161616;
}

#chatboxAdmin{
	width:45.5%;
	border:1px solid black;	
	font-size:18px;
	font-family: georgia;
	padding:5px;
	box-shadow: 4px 4px 5px #161616;
}

img#logo{
	width: 16%;
	margin:20px 0 0 580px;
}


.is-boy{
	padding:5px;
	background:#66CCCC;
}

.is-girl{
	padding:5px;
	background:#FF3366;
}

.is-admin{
	padding:5px;
	background:#c0cd00;
}

.rejected-message{
	padding:5px;
	background:#ff1404;
}

#boyStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#girlStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#adminStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}


/*
#boxBoy p {
	margin:8px 0;	
	padding:5px;
}

#boxBoy p .username {
	background:#ccc;
	padding:5px 8px;
	margin-right:5px;
}

#boxBoy p.is-admin .username {
	background:#ff00ff;
}

#boxBoy p.is-me .username {
	background:yellow;
}
*/
