html,
body {
	width:100%;
	height:100%;
	font-family: Arial;
	margin: 0;
	background-image:url('../images/blackorchid.png');
	background-repeat:repeat;
}
body#boy{
	background: #1f6d9e;
}

img#logo{
	width: 20%;
	margin-top: 20px;
}
#chat {
	width:100%;
	height:80%;
	margin-left: 500px;
	
} 
div.chatBox{
	display: block;
	/*
width:45%;
	height:75%;
*/
	cursor: text;
	overflow: scroll;
	margin: 20px auto;
	padding:10px;
	/* box-shadow: 4px 4px 5px #161616; */
}

#boxBoy img {
	width: 426px;
	height:621px;
	
	/* background: #66CCCC; */
}

#boxGirl {
	background: #FF3366;
}

#boxAdmin {
	background: #c0cd00;
}




/* ALL THIS IS FOR THE ADMIN PAGE WITH THE FORWARD/REJECT BUTTONS */
img#reject, img#forward{
	cursor: pointer;;
	padding: 5px;
	width: 20px;
	margin-top: 4px;
}

p.outer{
	height: 70px;
}

p.inner{
	width: 70%;
	float: left;
	margin: 0px;
}

p.message{
	display: inline;
	float: left;
	margin-left: 10px;
}

img.is-boy{
	display: inline;
	float: left;
}

img#reject{
	display: inline;
	float: left;
}

img#forward{
	display: inline;
	float: right;
}

/* ****************** */





input.chatInput{
	width:45.5%;
	border:1px solid black;	
	font-size:18px;
	padding:5px;
	box-shadow: 4px 4px 5px #161616;
}

input#chatInputBoy{
	font-family: monospace;
}

input#chatInputGirl{
	font-family: georgia;
}

input#chatInputAdmin{
	font-family: georgia;
}

.chatImage{
	width:50px;
}
.is-boy{
	padding:5px;
	background:#66CCCC;
}

.is-girl{
	padding:5px;
	background:#FF3366;
}

.is-admin{
	padding:5px;
	background:#c0cd00;
}

.rejected-message{
	padding:5px;
	background:#ff1404;
}








/*

#boyStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#girlStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}

#adminStatus{
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: grey;
}
*/
